<!-- Navigation -->
<nav class="fixed flex justify-between w-full lg:px-48 md:px-12 px-4 content-center bg-secondary z-10">
  <div class="flex items-center">
    <%= link_to root_path do %>
      <%= image_tag 'AW_littlelogo.png', alt: "Logo", class: "h-40"%>
    <% end %>
  </div>
  <ul class="font-montserrat items-center hidden md:flex">
    <li class="mx-3 ">
        <%= link_to "About", about_path, class: "growing-underline" %>
    </li>
    <li class="mx-3">
      <%= link_to "Projects", garden_path, class: "growing-underline" %>
    </li>
    <li class="mx-3 ">
        <%= link_to "CV | Resume", "https://www.linkedin.com/in/annie-walsh-b754706a/",  target: :_blank, class: "growing-underline" %>
    </li>
    <li class="mx-3">
      <%= link_to "The Garden", garden_path, class: "growing-underline" %>
    </li>
  </ul>
  <div id="showMenu" class="md:hidden p-6">
    <%= image_tag 'Menu.svg', alt: "menu icon" %>
  </div>
</nav>
<div id='mobileNav' class="hidden px-4 py-6 fixed top-0 left-0 h-full w-full bg-secondary z-20 animate-fade-in-down">
  <div id="hideMenu" class="flex justify-end">
    <%= image_tag 'Cross.svg', alt: "Cross", class: "h-16 w-16"%>
  </div>
  <ul class="font-montserrat flex flex-col mx-8 my-24 items-center text-3xl">
    <li class="my-6">
        <%= link_to "About", "https://www.linkedin.com/in/annie-walsh-b754706a/",  target: :_blank, class: "growing-underline" %>
    </li>
    <li class="my-6">
      <%= link_to "Projects", garden_path, class: "growing-underline" %>
    </li>
    <li class="my-6">
      <%= link_to "CV | Resume", "https://www.linkedin.com/in/annie-walsh-b754706a/",  target: :_blank, class: "growing-underline" %>
    </li>
    <li class="my-6">
      <%= link_to "The Garden", garden_path, class: "growing-underline" %>
    </li>
  </ul>
</div>
